<p id="notice"><%= notice %></p>

<p>
  <strong>List Name:</strong>
  <%= @list_item.list.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @list_item.name %>
</p>

<p>
  <strong>Tag:</strong>
  <% @list_item.tags.each do |tag| %>
    <%= tag.name %>
  <% end %>
</p>

<%= link_to 'Back', list_path(@list) %>
